.transition {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background:lightgray;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
  }
  
  .transition:hover {
    transform: translateY(-10px);
  }





